{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 60,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-organize-imports"],
  "useCache": true,
  "cacheLocation": ".prettierCache" 
}
