.priceModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.priceModal {
  background-color: white;
  border-radius: 5px;
  position: absolute;
  /* width: 520px; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.closeButton {
  position: absolute;
  right: 16px;
  top: 16px;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
}

.closeButton:hover {
  color: #333;
}

.modalContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalTitle {
  text-align: left;
  font-size: 2em;
  font-weight: 600;
  padding: 20px;
  color: #333;
  border-bottom: 1px solid #838383;
}

.form p {
  font-size: 1.25em;
  color: #141414;
  font-weight: 500;
}

.form input {
  line-height: 24px;
  border: 1px solid #d9d9d9;
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
}

.form input::placeholder {
  color: #d9d9d9;
}

.form .inputBasic {
  padding: 60px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.form .inputBasic > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}

.form .inputBasic > div .inputWrap {
  display: flex;
  position: relative;
  gap: 10px;
}

.form .inputBasic > div .inputWrap input {
  width: 100%;
}
.form .inputBasic .basicWrap .inputContainer {
  width: 100%;
  position: relative;
}

.form
  .inputBasic
  .basicWrap
  .inputWrap::before {
  content: 'KRW';
  position: absolute;
  top: -40px;
  font-size: 1.25em;
  left: 50%;
  transform: translateX(-50%);
}

/* .form
  .inputBasic
  .basicWrap
  .inputWrap
  div:nth-of-type(2)::before {
  content: 'USD';
  position: absolute;
  top: -40px;
  font-size: 1.25em;
  left: 50%;
  transform: translateX(-50%);
} */

.form > p {
  padding: 0 40px 20px 40px;
}
.formTop {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Recipient select {
  width: 100%;
  line-height: 30px;
  border: 1px solid #d9d9d9;
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
}

.modalBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #838383;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.buttonContainer.twoButtons {
  grid-template-columns: 1fr 1fr;
}

.buttonContainer.oneButton {
  grid-template-columns: 1fr;
}

.modalButton {
  padding: 0 30px;
  line-height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.modalBottom button {
  width: 100px;
  line-height: 45px;
  background-color: #0d688c;
  color: #fff;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.modalBottom .secondary {
  background-color: #d9d9d9;
  color: #fff;
}

.modalBottom .primary {
  background-color: #0d688c;
  color: #fff;
}

.dateWrap {
  display: flex;
  gap: 10px;
  padding: 0 40px 20px 40px;
  align-items: center;
  justify-content: space-between;
}

.dateWrap button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0d688c;
  color: #fff;
  font-size: 1em;
}

.calenderWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.calenderWrap {
  position: relative;
}

.datepickerInput {
  padding: 8px 16px;
  padding-right: 35px;
  border: 1px solid rgba(84, 144, 181, 0.67);
  border-radius: 4px;
  font-size: 1em;
  width: 320px;
  position: relative;
  cursor: pointer;
}

.calenderWrap::after {
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  background: url('/img/admin/faq/calender.svg') no-repeat;
  width: 24px;
  height: 24px;
}

.form .effectiveDate {
  padding: 0 40px 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form .effectiveDate p {
  font-size: 1.25em;
  color: #141414;
  font-weight: 500;
}

.form .effectiveDate input {
  width: 320px;
  background-color: #d9d9d9;
}
