.sectionInner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionTop {
  display: flex;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.sectionTop button {
  color: #d3d3d3;
  font-size: 1.5em;
  border: none;
  padding: 15px 60px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

.sectionTop button.on {
  color: #fff;
  background-color: #48bed9;
}

.sectionBottom {
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  padding: 40px 30px 10px 30px;
}

.sectionBottom .bottomTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionBottom .searchZone {
  border: 1px solid rgba(84, 144, 181, 0.67);
  border-radius: 5px;
  padding: 2px;
  display: flex;
  align-items: center;
  width: 300px;
}

.sectionBottom .searchZone input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px 10px;
}

.sectionBottom .searchZone button {
  background-color: #fff;
  padding: 2px;
  cursor: pointer;
}

.sectionBottom .pageZone {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sectionBottom .pageZone p {
  color: #4b5563;
  font-size: 1em;
  white-space: nowrap;
}

.sectionBottom .pageZone div {
  border-radius: 5px;
  border: 1px solid rgba(84, 144, 181, 0.67);
  width: 100px;
  overflow: hidden;
}

.sectionBottom .pageZone select {
  width: 100%;
  border: none;
  padding: 8px 10px;
  appearance: none;
  cursor: pointer;
  font-size: 0.9em;
  color: #4b5563;
  text-align: center;
  background-color: transparent;
}

.sectionBottom .pageZone select option {
  text-align: center;
  background-color: white;
}

.sectionBottom .pageZone select:focus {
  outline: none;
}

.sectionBottom .pageZone button {
  color: #fff;
  background-color: #0d688c;
  padding: 0 25px;
  line-height: 35px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  transition: background-color 0.2s;
}

.sectionBottom .pageZone button:hover {
  background-color: #0a5472;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  padding: 20px 0;
  position: relative;
}

.pagePrev {
  background: url('/img/admin/watchcon/pagePrev.svg')
    no-repeat;
  width: 6px;
  height: 15px;
  background-size: contain;
  cursor: pointer;
}

.pageNext {
  background: url('/img/admin/watchcon/pageNext.svg')
    no-repeat;
  width: 6px;
  height: 15px;
  background-size: contain;
  cursor: pointer;
}

.pageNumWrap {
  display: flex;
  gap: 20px;
}

.pageNumWrap a {
  font-size: 0.875em;
  color: #aaa;
  font-weight: 300;
}

.pageNumWrap a.on {
  font-weight: 400;
  color: #000;
}

.pagination > p {
  font-size: 0.875em;
  color: #aaa;
  font-weight: 300;
  position: absolute;
  color: #4b5563;
  left: 0;
}
